<footer>
    <div class="copyright py-8 text-center">
        <p>Copyright <a class="bluemwhitew no-underline" href="https://www.bluemwhitew.com" rel="noopener" target="_blank">bluemwhitew</a> &copy; 2021</p>
        <p>AMP &#9889;&#65039; = <a href="https://www.youtube.com/watch?v=j9V78UbdzWI" rel="noopener" target="_blank">&#9904;&#65039;</a></p>
    </div>
    <amp-analytics type="googleanalytics">
        <script type="application/json">
            {
                "vars": {
                    "account": "UA-30204421-4"
                },
                "triggers": {
                    "trackPageview": {
                        "on": "visible",
                        "request": "pageview"
                    }
                }
            }
        </script>
    </amp-analytics>
</footer>
