<header class="fixed flex inset-x-0 items-center justify-between p-4 top-0 z-50">
    <a aria-label="bluemwhitew Photography" class="flex items-center overflow-hidden rounded-full transition-transform md:hover:scale-110" href="/" title="Home">
        <amp-img alt="Matt Walters"
                 height="48"
                 src="https://www.gravatar.com/avatar/16b52d27e079c09a0e8f0dbbf3333240?s=144.jpg"
                 srcset="https://www.gravatar.com/avatar/16b52d27e079c09a0e8f0dbbf3333240?s=48.jpg 1x,
                         https://www.gravatar.com/avatar/16b52d27e079c09a0e8f0dbbf3333240?s=96.jpg 2x,
                         https://www.gravatar.com/avatar/16b52d27e079c09a0e8f0dbbf3333240?s=144.jpg 3x"
                 width="48">
        </amp-img>
    </a>
    <div aria-label="Open Menu" class="header-menu" on="tap:menu.open" role="button" tabindex="1" title="Open Menu">
        <svg aria-hidden="true" class="h-8 w-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6h16M4 12h16m-7 6h7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        </svg>
    </div>
</header>

{% include header/menu %}
