<header class="fixed flex inset-x-0 items-center justify-between p-4 top-0 z-50">
    <a aria-label="bluemwhitew Photography" class="flex header-logo items-center overflow-hidden" href="/" title="Home">
        <amp-img alt="Logo" class="bg-yellow-400 rounded-full" height="48" src="https://www.gravatar.com/avatar/16b52d27e079c09a0e8f0dbbf3333240?s=128.png" width="48"></amp-img>
    </a>
    <nav aria-label="Menu" class="hidden">
        {# @todo #}
    </nav>
</header>
