<!doctype html>
<html amp lang="en-gb">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Matt Walters"/>
        <meta name="description" content="Photography by Matt Walters"/>
        <meta name="keywords" content="bluemwhitew, matt, walters, esports, event, gaming, photographer, photography, portrait, wedding"/>
        <meta name="language" content="english"/>
        <meta name="rating" content="general"/>
        <meta name="robots" content="index, follow"/>
        <meta name="viewport" content="width=device-width, minimal-ui, minimum-scale=1, initial-scale=1"/>
        <link rel="canonical" href="."/>
        <link rel="icon" href="data:image/svg+xml,<svg viewBox=%220 0 100 100%22 xmlns=%22http://www.w3.org/2000/svg%22><text font-size=%2290%22 y=%22.9em%22>📷</text></svg>"/>
        <link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin="anonymous"/>
        <link rel="preconnect dns-prefetch" href="https://images.ctfassets.net/" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans:wght@400;700" rel="stylesheet"/>
        <style>
            {% include css/style.css %}
        </style>
        <title>{{ renderData.title }}</title>
    </head>
    <body class="bg-gray-900 text-white">
        {% include header %}
        <main>
            {{ content }}
        </main>
        {% include footer %}
    </body>
</html>
