<!doctype html>
<html amp lang="en-gb">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Matt Walters"/>
        <meta name="description" content="Photography by Matt Walters"/>
        <meta name="keywords" content="bluemwhitew, matt, walters, esports, event, gaming, photographer, photography, portrait, wedding"/>
        <meta name="language" content="english"/>
        <meta name="rating" content="general"/>
        <meta name="robots" content="index, follow"/>
        <meta name="viewport" content="width=device-width, minimal-ui, minimum-scale=1, initial-scale=1"/>
        <link rel="canonical" href="."/>
        <link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin="anonymous"/>
        <link rel="preconnect dns-prefetch" href="https://images.ctfassets.net/" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans:wght@400;700" rel="stylesheet"/>
        <style>
            {% include css/style.css %}
        </style>
        {% assign $title = renderData.title %}
        <title>{{ title }}</title>
    </head>
    <body>
        {% include header.liquid %}
        <main>
            {{ content }}
        </main>
        <footer>
            <div class="copyright py-8 text-center">
                <p>Copyright <a class="bluemwhitew no-underline" href="https://www.bluemwhitew.com" rel="noopener" target="_blank">bluemwhitew</a> &copy; 2020</p>
                <p>AMP &#9889;&#65039; = <a href="https://www.youtube.com/watch?v=j9V78UbdzWI" rel="noopener" target="_blank">&#9904;&#65039;</a></p>
            </div>
            <amp-analytics type="googleanalytics">
                <script type="application/json">
                    {
                        "vars": {
                            "account": "UA-30204421-4"
                        },
                        "triggers": {
                            "trackPageview": {
                                "on": "visible",
                                "request": "pageview"
                            }
                        }
                    }
                </script>
            </amp-analytics>
        </footer>
    </body>
</html>
