{
    "embeddedSingleQuote": true,
    "liquidSingleQuote": false,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.js"],
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": ["**/*.{yaml,yml}"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "plugins": [
        "@shopify/prettier-plugin-liquid",
        "prettier-plugin-tailwindcss"
    ],
    "singleQuote": false,
    "tabWidth": 4,
    "tailwindStylesheet": "./src/assets/css/style.css"
}
