<div class="mt-8">
    <p class="text-center text-base text-gray-400">
        Copyright
        <a
            class="no-underline transition duration-500 ease-in-out hover:text-brand-bluemwhitew"
            href="https://www.bluemwhitew.com"
            rel="noopener"
            target="_blank"
            >bluemwhitew</a
        >
        &copy; {{ "now" | date: "%Y" }}
    </p>
    <p class="hidden text-center text-base text-gray-300">
        AMP &#9889;&#65039; =
        <a
            href="https://www.youtube.com/watch?v=j9V78UbdzWI"
            rel="noopener"
            target="_blank"
            >&#9904;&#65039;</a
        >
    </p>
</div>
