<nav aria-label="Footer">
    <ul class="flex flex-wrap justify-center">
        <li class="px-5 py-2">
            <a
                href="/"
                class="text-base text-gray-400 hover:text-gray-300"
                >Home</a
            >
        </li>
        <li class="hidden px-5 py-2">
            <a
                href="/about"
                class="text-base text-gray-400 hover:text-gray-300"
                >About</a
            >
        </li>
        <li class="px-5 py-2">
            <a
                href="mailto:hello@bluemwhitew.photography?subject=Hello!"
                class="text-base text-gray-400 hover:text-gray-300"
                >Contact</a
            >
        </li>
    </ul>
</nav>
