<nav aria-label="Footer">
    <ul class="flex flex-wrap justify-center">
        <li class="px-5 py-2"><a href="/" class="text-base text-gray-500 hover:text-gray-400">Home</a></li>
        <li class="px-5 py-2"><a href="/about" class="text-base text-gray-500 hover:text-gray-400">About</a></li>
        <li class="px-5 py-2"><a href="/contact" class="text-base text-gray-500 hover:text-gray-400">Contact</a></li>
    </ul>
</nav>
