<dialog class="bg-black bg-noise fixed min-h-screen m-0 ml-auto max-w-full w-[90vw] md:max-w-lg text-white" id="menu">
    <div class="flex flex-row-reverse inset-x-0 items-center justify-between min-h-[80px] p-4 sticky top-0 z-50">
        <button aria-label="Close Menu" class="close cursor-pointer transition-all duration-500 ease-in-out active:scale-75 hover:opacity-80" role="button" tabindex="0">
            <svg class="h-8 w-8" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
        </button>
    </div>
    <div class="p-8 pt-0">
        <nav class="border-b border-opacity-10 border-white pb-10">
            <ul>
                <li class="font-bold pb-4 text-3xl">
                    <a class="duration-500 ease-in-out hover:opacity-80 text-white transition-opacity" href="/">Home</a>
                </li>
                <li class="font-bold pb-4 text-3xl">
                    <a class="duration-500 ease-in-out hover:opacity-80 text-white transition-opacity" href="/collections">Collections</a>
                </li>
                <li class="font-bold hidden pb-4 text-3xl">
                    <a class="duration-500 ease-in-out hover:opacity-80 text-white transition-opacity" href="/about">About</a>
                </li>
                <li class="font-bold text-3xl">
                    <a class="duration-500 ease-in-out hover:opacity-80 text-white transition-opacity" href="mailto:hello@bluemwhitew.photography?subject=Hello!">Contact</a>
                </li>
            </ul>
        </nav>
        {% render "header/menu/featured-collections" %}
    </div>
</dialog>

<script>
    const menu = document.getElementById('menu');
    const buttonOpen = document.querySelector('.header-menu')
    const buttonClose = document.querySelector('#menu .close')

    buttonOpen.addEventListener('click', function() {
        menu.showModal()
    });
    buttonClose.addEventListener('click', function() {
        menu.close()
    });
</script>
