<dialog
    class="fixed m-0 ml-auto min-h-screen w-[90vw] max-w-full bg-black text-white md:max-w-lg"
    id="menu"
>
    <div class="sticky inset-x-0 top-0 z-50 flex min-h-[80px] flex-row-reverse items-center justify-between p-4">
        <button
            aria-label="Close Menu"
            class="close cursor-pointer transition-all duration-500 ease-in-out hover:opacity-80 active:scale-75"
            role="button"
            tabindex="0"
        >
            <svg
                class="h-8 w-8"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
        </button>
    </div>
    <div class="p-8 pt-0">
        <nav class="border-opacity-10 border-b border-white pb-10">
            <ul>
                <li class="pb-4 text-3xl font-bold">
                    <a
                        class="text-white transition-opacity duration-500 ease-in-out hover:opacity-80"
                        href="/"
                        >Home</a
                    >
                </li>
                <li class="pb-4 text-3xl font-bold">
                    <a
                        class="text-white transition-opacity duration-500 ease-in-out hover:opacity-80"
                        href="/collections"
                        >Collections</a
                    >
                </li>
                <li class="hidden pb-4 text-3xl font-bold">
                    <a
                        class="text-white transition-opacity duration-500 ease-in-out hover:opacity-80"
                        href="/about"
                        >About</a
                    >
                </li>
                <li class="text-3xl font-bold">
                    <a
                        class="text-white transition-opacity duration-500 ease-in-out hover:opacity-80"
                        href="mailto:hello@bluemwhitew.photography?subject=Hello!"
                        >Contact</a
                    >
                </li>
            </ul>
        </nav>
        {% render "header/menu/featured-collections" %}
    </div>
</dialog>

<script>
    const menu = document.getElementById('menu');
    const buttonOpen = document.querySelector('.header-menu');
    const buttonClose = document.querySelector('#menu .close');

    buttonOpen.addEventListener('click', function () {
        menu.showModal();
    });
    buttonClose.addEventListener('click', function () {
        menu.close();
    });
</script>
