<nav
    aria-label="Featured Collections"
    class="pt-10"
>
    <h6 class="mb-4 text-xl font-bold">Featured Collections</h6>
    <ol>
        <li class="mb-2 text-lg"><a href="/collections/farr-at-the-lexington">FARR</a></li>
        <li class="mb-2 text-lg">
            <a href="/collections/razerstore-london-grand-opening">RazerStore London: Grand Opening</a>
        </li>
        <li class="text-lg"><a href="/collections/arena-clash-at-insomnia-65">Insomnia 65: Arena Clash</a></li>
    </ol>
</nav>
