---
eleventyComputed:
    title: "Page Not Found"
layout: layout.liquid
permalink: 404.html
---

<section class="flex flex-col justify-center min-h-screen text-center">
    <h1 class="font-bold mb-4 text-6xl md:text-7xl">Ohhh, snap!</h1>
    <p class="text-lg">Let's get you <a href="/">back in focus</a>.</p>
</section>
