---
eleventyComputed:
    metaRobots: "noindex, nofollow"
    title: "About"
layout: layout.liquid
permalink: "about/"
---
<section class="flex min-h-screen flex-col justify-center text-center">
    <h1 class="mb-4 text-6xl font-bold md:text-7xl">About</h1>
    <p class="mb-4 text-lg">Guess which genius didn't have time to write an About page for launch... 🙈</p>
</section>
