---
layout: layout.liquid
permalink: "contact/"
renderData:
    title: "Contact &mdash; bluemwhitew Photography"
---

<section class="flex flex-col justify-center min-h-screen text-center">
    <h1 class="font-bold mb-4 text-6xl md:text-7xl">Contact</h1>
</section>
