---
layout: layout.liquid
permalink: "/"
renderData:
    title: "Coming Soon &mdash; bluemwhitew Photography"
---

<section class="container flex flex-col justify-center min-h-screen mx-auto text-center">
    <h1 class="font-bold mb-8 text-5xl sm:text-6xl md:text-7xl">Welcome!</h1>
    <p class="mb-4 text-lg">Guess which self-proclaimed legendary genius didn't bother to write content for launch... 🙈</p>
    <p class="font-bold mb-12 text-lg">
        <a class="text-white" href="/collections">
            <span>Browse Collections</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 inline-block w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
        </a>
    </p>
</section>
