---
layout: layout.liquid
permalink: "/"
renderData:
    title: "Coming Soon &mdash; bluemwhitew Photography"
---

<section class="section__coming-soon">
    <h1>Coming Soon</h1>
    <h2>AMP &#9889;&#65039; = <a href="https://www.youtube.com/watch?v=j9V78UbdzWI&t=25s" rel="noopener" target="_blank">&#9904;&#65039;</a></h2>
</section>

<style>
    .section__coming-soon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
    }
</style>
