---
layout: layout.liquid
permalink: "/"
renderData:
    title: "Coming Soon &mdash; bluemwhitew Photography"
---

<section class="container flex flex-col justify-center min-h-screen mx-auto text-center">
    <div id="countdown">
        <h1 class="font-bold mb-8 text-5xl sm:text-6xl md:text-7xl">Coming Soon&trade;</h1>
        <amp-date-countdown biggest-unit="hours" height="50" layout="fixed-height" on="timeout: hide-countdown.start, show-refresh.start" timestamp-seconds="1629389280">
            <template type="amp-mustache">
                {% raw %}
                    <p class="font-bold text-5xl text-opacity-5 text-white">{{hh}}:{{mm}}:{{ss}}</p>
                {% endraw %}
            </template>
        </amp-date-countdown>
    </div>
    <div class="invisible" id="refresh">
        <h1 class="font-bold mb-8 text-5xl sm:text-6xl md:text-7xl">Thank You!</h1>
        <p class="font-bold mb-8 text-3xl text-opacity-5 text-white">Your support <em>genuinely</em> means a lot! 🎉</p>
        <p>
            <a class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:border-blue-700 active:bg-blue-700 transition ease-in-out duration-150" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                </svg>
                <span>Refresh!</span>
            </a>
        </p>
    </div>
    <amp-animation id="hide-countdown" layout="nodisplay">
        <script type="application/json">
            {
                "duration": "1s",
                "fill": "both",
                "selector": "#countdown",
                "keyframes": {"opacity": 0, "transform": "translateY(-9000px)"}
            }
        </script>
    </amp-animation>
    <amp-animation id="show-refresh" layout="nodisplay">
        <script type="application/json">
            {
                "duration": "1s",
                "fill": "both",
                "selector": "#refresh",
                "keyframes": {
                    "visibility": "visible"
                }
            }
        </script>
    </amp-animation>
</section>
