---
layout: layout.liquid
permalink: "/"
renderData:
    metaKeywords: "bluemwhitew, matt, walters, esports, event, gaming, photographer, photography, portrait, wedding"
    title: "Coming Soon"
---

<section class="container flex flex-col justify-center min-h-screen mx-auto text-center">
    <h1 class="font-bold mb-8 text-5xl sm:text-6xl md:text-7xl">Welcome!</h1>
    <p class="mb-4 text-lg">Guess which self-proclaimed legendary genius didn't bother to write content for launch... 🙈</p>
    <p class="font-bold mb-12 text-lg">
        <a class="text-white" href="/collections">
            <span>Browse Collections</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 inline-block w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
        </a>
    </p>
</section>

<section class="grid grid-cols-1 md:grid-cols-media-relaxed lg:grid-cols-media-loose grid-rows-media-normal md:grid-rows-media-loose min-h-screen">
    <article class="flex flex-col group justify-center relative md:row-span-2 text-left text-white">
        <amp-img alt="Stallion Playing Battlefield 2042 at the Republic of Gamers Booth"
                 class="absolute amp-img-object-cover duration-500 inset-0 opacity-50 transition-opacity group-hover:opacity-75"
                 height="1024"
                 layout="responsive"
                 src="https://images.ctfassets.net/b8vwnx2syq1m/2tMEZ7tWN11OGHXMHEJx6H/e4bcafd2f4cf619cf17fe10fd6c9489b/egx-2021_rog-stallion-battlefield-2042.jpg"
                 width="1024">
        </amp-img>
        <div class="max-w-lg md:max-w-xl lg:max-w-2xl p-10 md:p-20 z-10">
            <h3 class="font-bold leading-normal mb-4 text-4xl">EGX 2021</h3>
            <p class="mb-8 text-base">The ultimate tumbleweed experience (unless you play Fall Guys) of 2021.</p>
            <a class="font-bold no-underline text-inherit text-sm uppercase" href="/collections/egx-2021">View More</a>
        </div>
    </article>
    <article class="flex flex-col group justify-center relative text-left text-white">
        <amp-img alt="Michael Dilmagani Opening RazerStore London"
                 class="absolute amp-img-object-cover duration-500 inset-0 opacity-50 transition-opacity group-hover:opacity-75"
                 height="1024"
                 layout="responsive"
                 src="https://images.ctfassets.net/b8vwnx2syq1m/6wFr6XaG5NvVj0ouiVYOK5/7914f8b53c97eb35315eb938516aa1a2/razerstore-london-grand-opening_michael-dilmagani-cut-rope.jpg"
                 width="1024">
        </amp-img>
        <div class="max-w-lg md:max-w-xl lg:max-w-2xl p-10 md:p-20 z-10">
            <h3 class="font-bold leading-normal mb-4 text-4xl">RazerStore London Grand Opening</h3>
            <p class="mb-8 text-base">Slither inside RazerStore London; Razer's first European store.</p>
            <a class="font-bold no-underline text-inherit text-sm uppercase" href="/collections/razerstore-london-grand-opening">View More</a>
        </div>
    </article>
    <article class="flex flex-col group justify-center relative text-left text-white">
        <amp-img alt="Stratford Spartans in Belong Arena Clash at Insomnia 65"
                 class="absolute amp-img-object-cover duration-500 inset-0 opacity-50 transition-opacity group-hover:opacity-75"
                 height="1024"
                 layout="responsive"
                 src="https://images.ctfassets.net/b8vwnx2syq1m/1w5RDZEVb3eBWE0itrWRh3/01f7cb55bd6992d6a3faa3cb63280cb5/insomnia-65_arena-clash-reaction.jpg"
                 width="1024">
        </amp-img>
        <div class="max-w-lg md:max-w-xl lg:max-w-2xl p-10 md:p-20 z-10">
            <h3 class="font-bold leading-normal mb-4 text-4xl">Arena Clash at Insomnia 65</h3>
            <p class="mb-8 text-base">Bloodthirsty Belong Arena tribes once again come face-to-face on the esports stage at Insomnia 65.</p>
            <a class="font-bold no-underline text-inherit text-sm uppercase" href="/collections/arena-clash-at-insomnia-65">View More</a>
        </div>
    </article>
</section>
