---
layout: layout.liquid
permalink: "/"
renderData:
    title: "Coming Soon &mdash; bluemwhitew Photography"
---

<section class="section__coming-soon">
    <h1>Coming Soon&trade;</h1>
</section>

<style>
    .section__coming-soon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
    }

    .section__coming-soon h1 span {
        text-decoration: line-through;
    }
</style>
