---
layout: layout.liquid
pagination:
    addAllPagesToCollections: true
    alias: shoot
    data: shoots
    size: 1
permalink: "shoots/{{ shoot.title | slug }}/"
renderData:
    title: "{{ shoot.title }} &mdash; bluemwhitew Photography"
---

{% include shoot/hero %}

<section class="section__shots">
    <ul class="gap-0 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
        {%- for shot in shoot.shots -%}
            <li>
                <figure>
                    <amp-img alt="{{ shot.fields.title }}"
                             height="1"
                             layout="responsive"
                             src="https:{{ shot.fields.file.url }}?f=center&amp;fit=fill&amp;fl=progressive&amp;fm=jpg&amp;h=640&amp;q=80&amp;w=640"
                             width="1">
                    </amp-img>
                </figure>
            </li>
        {%- endfor -%}
    </ul>
</section>
